.navbar-home {
  background-color: white;
  padding: 15px 0;
}

.nav-wrap {
  flex-wrap: nowrap !important;
}

.navbar-brand img {
  width: 230px;
  height: auto;

}

.navbar-nav-home .nav-link {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
}

.nav-contact {
  margin-inline-start: 25px !important;
}

.responsive-container {
  padding-inline: 100px !important
}

@media (max-width: 991px) {
  .navbar-brand img {
    width: 150px;
    height: auto;

  }

  .responsive-container {
    padding-inline: 30px !important
  }

  .nav-contact {
    margin-inline-start: 0px !important;
    margin-block-start: 30px !important;

  }

  .navbar-nav {

    line-height: 1px !important;
  }
}